<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sha.mapper.OptionsMapper">
    <select id="findAllOptions" resultType="com.sha.entity.Options">
        select *from options
    </select>
</mapper>