<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>2020年度最美衣物</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <style>
        .my-center{
            margin-top: 100px;
            margin-left: 600px;
        }
    </style>
</head>
<body>
<h1 class="text-center">最佳服装评选</h1>
<div class="container my-center">
    <p>下面请选出你觉得最真实的图片</p>
    <form th:if="${session.user != null}" th:action="'/vote/' + ${session.user.id}" method="post">
        <div th:each="option:${options}">
            <h1 th:text="${options.indexOf(option)}+1"></h1>
            <label>
                <img th:src="@{imgs/try-on-full/b}+${option}+'.png'"/>
                <input type="checkbox" name="optionIdsFull" th:value="${option}" style="width: 20px; height: 20px"><br>
            </label>
            <label>
                <img th:src="@{imgs/try-on-origin/a}+${option}+'.png'"/>
                <input type="checkbox" name="optionIdsOrigin" th:value="${option}" style="width: 20px; height: 20px"><br>
            </label>

        </div>
        <br>
        <button type="submit" class="btn btn-primary">提交</button>
    </form>
</div>
</body>
</html>